# Sessions directory
.sessions/
.sessions/*
sessions/
sessions/*
**/sessions/
**/.sessions/
*.session
*-session
*-session/
oblixn-session/
oblixn-session/*
.env
.env.*
node_modules/
package-lock.json
.tmp/
.temp/
